<footer>

    <div class="row">
        <div class="col-md-12 text-center">
            <p class="title">{{ 'footer.title' | trans | raw }}</p>
            <div class="icon icon-icon-sbs-logo"></div>
        </div>

        <div class="col-md-12 text-center">
            <p>{{ 'footer.text' | trans | raw }}</p>
            {% trans %}Symfony is great{% endtrans %}
        </div>
    </div>

</footer>