<div class="menu">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group btn-group-justified" role="group" >
menu
            </div>
        </div>
    </div>
</div>









